<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>Mon premier site web</title>
</head>
<body>
<header>
    <div>MONSITE.DEMO</div>
</header>
<article>
    <div>
    <h1>Lorem ipsum dolor sit amet </h1>
        <h2>Consectetur adipiscing elit<img src="img/chat_2.jpg" alt="le premier chat" /></h2>
            <p>Nullam sed ex tristique, elementum ex ac, vehicula nisl. Donec facilisis sagittis aliquam. Praesent imperdiet lacus in lacus pretium lobortis. Curabitur et odio sem. Nunc accumsan augue nisi, accumsan tempus massa placerat id. <a href="https://www.google.fr">Vestibulum ultricies </a>convallis sem non pharetra. Curabitur mollis pretium arcu sit amet hendrerit. Morbi mattis rutrum velit, ut volutpat nulla ullamcorper eget. Curabitur in diam diam. In luctus scelerisque turpis sed dignissim. </p>
        <h2> Maecenas bibendum nunc condimentum nulla blandit dictum</h2>
            <h3>Proin non magna condimentum</h3>
                <p>Consequat nunc eget, tristique <img src="img/chat_1.jpg" alt="le deuxième chat" />nulla. Maecenas ullamcorper sapien at vehicula porttitor. Sed feugiat dolor a nibh euismod, non sagittis metus bibendum. Aenean consequat congue orci, dictum consequat lorem interdum at. Praesent condimentum at felis ac viverra. Nunc ornare elementum libero ut eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque vestibulum turpis in augue mattis vestibulum. <a href="https://www.google.fr">Vivamus </a>in convallis diam. Fusce id urna quis eros facilisis commodo id quis mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
    </div>
</article>
<footer>
    <div><a href="https://www.google.fr">mentions légales</a></div>
</footer>
</body>


</html>